.background{
   -fx-background-color: #27323A;
}

.background-pattern{
   -fx-background-image: url(D:\College\Semesters\sem4\dbms-mini-project\LibraryManagentSystemDBMS\EclipseFiles\src\application\images/login-page-design.png);
   -fx-opacity: 30%;
}

.container{
   -fx-background-color: #36454f;
   -fx-border-radius: 15px;
}

.Welcome-label{
   -fx-font-family: Georgia, Helvetica, sans-serif;
   -fx-font-size: 40px;
   -fx-font-weight: bold;
}

.Login-button{
   -fx-background-color: #03C988;
   -fx-font-family: Arial, Helvetica, sans-serif;
   -fx-font-weight: 900;
}

.back-Button{
   -fx-background-color: #DC143C;
   -fx-font-family: Arial, Helvetica, sans-serif;
   -fx-font-weight: 900;
}