.background{
   -fx-background-color: #27323A;
}

.background-pattern{
   -fx-background-image: url(D:/College/sem4/dbms--project/login-page-design.png);
   -fx-opacity: 30%;
}

.container{
   -fx-background-color: #36454f;
   -fx-box-shadow: 20px 20px 30px 12px black;
   -fx-border-radius: 15px;
}

.Welcome-label{
   -fx-font-family: Georgia, Helvetica, sans-serif;
   -fx-font-size: 40px;
   -fx-font-weight: bold;
}

.Login-button{
   -fx-background-color: #0E8388;
   -fx-font-family: Arial, Helvetica, sans-serif;
   -fx-font-weight: 900;
}